<% content_for :title do %>
  Wil Hall - Terrarium Workshops
<% end %>
<% content_for :meta do %>
  <meta property="og:title" content="Wil Hall - Build a Terrarium Online" /> 
  <meta property="og:description" content="Build and purchase your own custom terrarium online for local pickup or delivery using my online terrarium design tool." /> 
  <meta property="og:image" content="https://wilhall.com/photos/terrarium_alt.png" />
  <meta name="description" content="Build and purchase your own custom terrarium online for local pickup or delivery using my online terrarium design tool.">  
<% end %>

<article class="py-8 antialiased">
  <div class="max-w-md px-4 mx-auto">
    <h1 class="text-2xl font-semibold text-slate-900 sm:text-3xl">
      Design a Terrarium Online
    </h1>
    <div class="text-slate-700 prose py-3">
      <p>
        To get started designing your terrarium, please enter your name and email.
      </p>
    </div>
    <%= form_with model: @terrarium, class: "flex flex-col gap-3" do |form| %>
      <div class="flex flex-col gap-1">
        <%= form.label :customer_name, "Name" %>
        <%= form.text_field :customer_name %>
      </div>
      <div class="flex flex-col gap-1">
        <%= form.label :customer_email, "Email" %>
        <%= form.text_field :customer_email %>
      </div>
      <%= form.submit "Start Designing", class: "cursor-pointer flex items-center justify-center py-2.5 px-5 text-sm font-bold text-white focus:outline-none bg-secondary rounded-lg border border-slate-200 hover:opacity-80 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-slate-100" %>
    <% end %>
  </div>
</article>

