<% content_for :title do %>
  Wil Hall - Studio
<% end %>

<% content_for :logo do %>
    <%= render 'shared/plume_and_pith_logo' %>
<% end %>

<div class="flex flex-wrap font-medium text-slate-500 bg-white rounded-md shadow-lg border border-slate-200 py-2 px-5">
    <input name="tabs" tabindex="1" type="radio" id="#guide" class="absolute cursor-pointer w-0 opacity-0"/>
    <label for="#guide" class="cursor-pointer inline-flex items-center justify-center gap-2 p-4 font-bold border-b-2 border-transparent rounded-t-lg hover:text-slate-600 hover:border-slate-300 border-blue-600">
        <i class="block fa-solid fa-book text-slate-500 text-xl"></i>
        Guide
    </label>
    <div class="panel my-5">
        <div class="prose mx-auto">
            <h2>Welcome to Plume & Pith</h2>
            
            <p>
            Plume & Pith is the name of my home studio and art business. My goal is not only to have a space for my art, but to be able to share that space with other local artists in an area where it can be challenging to find studio and kiln space.
            </p>

            <h2>Studio Access</h2>

            <p>
            Because my studio is in the basement of my home, studio access is scheduled based on my availability.
            </p>
            <p>
            If you have a monthly membership, you will have access to a scheduling link that does not require payment, and you can schedule as much time as you would like. Otherwise, time can be scheduled per-hour on my website.
            </p>
            <p>
            When arriving, text me or ring my smart doorbell, and then meet me at the end of the driveway to the left side of the house. I will let you directly into the studio.
            </p>

            <h2>Restroom Access</h2>

            <p>
            If you need to use the restroom, ascend the staircase closest to the studio entrance / coat rack. After opening the door at the top of the stairs, the restroom will be directly across the hall.
            </p>

            <h2>Clay</h2>

            <p>
            I stock clays from Standard Clay Company, and a small amount of casting slip. I always keep the following on hand:
            </p>

            <table class="border border-slate-200 py-2 px-5">
                <thead class="bg-blue-50">
                    <tr>
                        <th scope="col" class="px-4 py-2"></th>
                        <th scope="col" class="px-4 py-2">Shrinkage</th>
                        <th scope="col" class="px-4 py-2">Absorption</th>
                        <th scope="col" class="px-4 py-2">Description</th>
                    </tr>
                </thead>
                <tbody>
                <% @clays.each do |clay| %>
                    <tr class="bg-white border-b">
                        <th class="font-bold px-4 py-2 font-medium"><a href="<%= clay.url %>"><%= clay.identifier %> <%= clay.name %></a></th>
                        <td class="px-4 py-2 font-medium"><%= number_to_percentage(clay.shrinkage, precision: 2) %></td>
                        <td class="px-4 py-2 font-medium"><%= number_to_percentage(clay.absorption, precision: 2) %></td>
                        <td class="italic px-4 py-2 font-medium"><%= clay.description %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>

            <p>
            You <b>may not</b> bring your own clay to work with in the studio, though you may bring clay home to work with.
            </p>

            <h2>Other Consumables</h2>

            <p>
            I have a variety of glazes, underglazes, and decorating supplies available. All these consumables are available for you to use free of charge.
            </p>

            <p>
            See the <b>Glazes</b> tab for more information on the available glazes.
            </p>

            <p>
            Additionally:
            </p>

            <ul class="pl-5 list-disc list-inside">
                <li>You may bring your own underglazes and decorating supplies</li>
                <li>You may bring your own commercial cone 6 glazes</li>
                <li>Portland Pottery in Braintree is the closest ceramics supply shop. I visit regularly to get supplies for the studio. If you want to place an order and have me pick it up, I am happy to do so.</li>
            </ul>

            <h2>Firing</h2>

            <p>
            You may fire any clay or glaze as long as it is rated for cone 04 bisque and cone 6 glaze firing. Any damage to the kiln shelves will incur a $10 shelf scraping fee per shelf. If your pieces are likely to drip, you're required to provide your own cookies to fire on or request one from me if available.
            </p>
            <p>
            I am not responsible for any work that is deemed unusable/non-sellable from the result of over firing, kiln error, or accidental damage. In the case of a misfire/under-fire of the kiln, I will re-fire the work at no additional cost.
            </p>
            <p>
            <b>For Kiln Share:</b> You must have enough work to fill at least one shelf (17in x 17in), and turnaround time is 2-3 weeks.
            </p>
            <p>
            <b>For Studio Share:</b> I will fire your pieces as you make them, prioritized ahead of my Kiln Share, and you pay 50% of the Kiln Share cost.
            </p>

            <table class="border border-slate-200 py-2 px-5">
                <thead class="bg-blue-50">
                    <tr>
                        <th scope="col" class="px-4 py-2"></th>
                        <th scope="col" class="px-4 py-2">Kiln Share</th>
                        <th scope="col" class="px-4 py-2">Studio Share</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b">
                        <th class="font-bold px-4 py-2 font-medium">Bisque 1 shelf (17in x 17in)</th>
                        <td class="px-4 py-2 font-medium">$20</td>
                        <td class="px-4 py-2 font-medium">$10</td>
                    </tr>
                    <tr class="bg-white border-b">
                        <th class="font-bold px-4 py-2 font-medium">Glaze 1 shelf (17in x 17in)</th>
                        <td class="px-4 py-2 font-medium">$25</td>
                        <td class="px-4 py-2 font-medium">$12</td>
                    </tr>
                    <tr class="bg-white border-b">
                        <th class="font-bold px-4 py-2 font-medium">Bisque Full Kiln</th>
                        <td class="px-4 py-2 font-medium">$70</td>
                        <td class="px-4 py-2 font-medium">$35</td>
                    </tr>
                    <tr class="bg-white border-b">
                        <th class="font-bold px-4 py-2 font-medium">Glaze Full Kiln</th>
                        <td class="px-4 py-2 font-medium">$85</td>
                        <td class="px-4 py-2 font-medium">$42</td>
                    </tr>
                </tbody>
            </table>
            <p>
            There is a shelving unit beside the kiln which has a <b>Bisque In</b> and <b>Glaze In</b> shelf for you to place your pieces that are ready to be fired. When placing pieces here, please be careful to not damage other people's work. If something doesn't fit on the shelf, please leave it on your personal shelf until there is room.
            </p>
            <p>
            After pieces have been fired, I will return them to your personal shelf, or hold them on one of my shelves if there is not room.
            </p>

            <h2>Storage</h2>

            <p>
            If you have a monthly membership, you have personal shelf storage. This can be used to store your work, tools, consumables, etc. You may bring risers or organizers to augment the shelves.
            </p>

            <p>
            If you run out of room on your shelf, there are shelves nearby designated for shared storage, but please be mindful to not take up all this space - it's also used by non-monthly members.
            </p>

            <h2>Cleanliness</h2>

            <p>
            My general expectation is that you leave the studio at least as clean as you found it. This includes:
            </p>

            <ul class="pl-5 list-disc list-inside">
                <li>Wiping down any surface you used</li>
                <li>Sweeping up trimmings</li>
                <li>Emptying the wheel tray (if full)</li>
                <li>Mopping up drips/spills</li>
                <li>Cleaning used bats</li>
                <li>Cleaning used tools</li>
                <li>Don't leave anything in the sink</li>
                <li>Put away tools/consumables</li>
                <li><b>DO NOT</b> wash anything upstairs</li>
                <li><b>DO NOT</b> empty the throwing water</li>
            </ul>

            <p>
            I'm not exceptionally strict about this, but I expect everyone to make an effort to keep things clean and tidy so they are usable for the next person and so I am not the only one cleaning.
            </p>

            <h2>Trash</h2>

            <p>
            There is a small trash bin next to the <b>Bisque In</b> / <b>Glaze In</b> shelves. Please use this for <i>garbage only</i>.
            </p>

            <h2>Reclaim</h2>

            <p>
            I manually reclaim most of the clay scraps generated by the studio. To make this process go as smoothly as possible, please observe the following locations for your scrap clay:
            </p>

            <ul class="pl-5 list-disc list-inside">
                <li><b>Scraps of clay</b> should go in the <b>Lugs/Scraps</b> bin atop the chest of drawers</li>
                <li><b>Water/slip</b> should go in the <b>Liquid Reclaim</b> Bucket</li>
                <li><b>Everything else</b> should go in the <b>Solid Reclaim</b> Bucket</li>
            </ul>


        </div>
    </div>

    <input name="tabs" tabindex="1" type="radio" id="#glazes" class="absolute cursor-pointer w-0 opacity-0"/>
    <label for="#glazes" class="cursor-pointer inline-flex items-center justify-center gap-2 p-4 font-bold border-b-2 border-transparent rounded-t-lg hover:text-slate-600 hover:border-slate-300 border-blue-600">
        <i class="block fa-solid fa-flask text-slate-500 text-xl"></i>
        Glazes
    </label>
    <div class="panel my-5">
        <%= form_with(url: studio_path, method: :get, data: { controller: "filter" }, class: "flex gap-3 w-full items-end flex-wrap") do %>
            <div class="flex flex-col">
            <%= label_tag :base_glaze, "Base Glaze", class: "font-bold" %>
            <%= select_tag :base_glaze,
                            options_for_select(@base_glaze_options,
                                                selected: @selected_base_glaze),
                            prompt: "Any",
                            class: 'rounded-lg border-slate-300',
                            data: { action: "change->filter#submit" } %>
            </div>
            <div class="flex flex-col">
            <%= label_tag :primary_color, "Primary Color", class: "font-bold" %>
            <%= select_tag :primary_color,
                            options_for_select(@primary_color_options,
                                                selected: @selected_primary_color),
                            prompt: "Any",
                            class: 'rounded-lg border-slate-300',
                            data: { action: "change->filter#submit" } %>
            </div>
        <% end %>
        <% if (@glazes + @glaze_combinations).empty? %>
            <div class="text-center text-xl font-bold w-full my-5">No glazes found</div>
        <% else %>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 my-5">
                <% (@glazes + @glaze_combinations).each do |glaze| %>
                    <div class="bg-white border border-slate-200 rounded-md">
                        <img class="rounded-t-md" src="<%= url_for(glaze.test_tile_photo) %>" alt=""/>
                        <div class="p-5">
                            <h2 class="flex items-center gap-3 text-black text-2xl font-bold tracking-tight">
                                <%= glaze.name %>
                            </h2>
                            <span class="text-secondary font-bold">
                                <%= glaze.canonical_identifier %>
                            </span>
                            <div class="flex gap-3 items-center">
                                <span class="flex gap-1 items-center">
                                    <i class="block fa-solid fa-palette text-slate-500 text-lg"></i>
                                    <%= glaze.primary_color.titleize %>
                                </span>
                                <span class="flex gap-1 items-center">
                                    <i class="block fa-solid fa-fire text-slate-500 text-lg"></i>
                                    <%= glaze.cone_range %>
                                </span>
                                <span class="flex gap-1 items-center">
                                    <i class="block fa-solid fa-utensils text-slate-500 text-lg"></i>
                                    <%= glaze.food_safe ? "Yes" : "No" %>
                                </span>
                            </div>
                            <p class="my-3 font-normal text-sm text-slate-700"><%= glaze.description %></p>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>

<script>
    (function () {
        const selectTargetedTab = () => {
            const targetTab = document.querySelector(`input[name="tabs"][id="${window.location.hash}"]`)
            if (targetTab) {
                targetTab.checked = true;
            }
        }

        window.addEventListener("hashchange", selectTargetedTab);

        if (window.location.hash.length <= 1) {
            document.querySelector(`input[name="tabs"][id="#guide"]`).click()
        }

        document.querySelectorAll('input[name="tabs"]').forEach((elem) => {
            elem.addEventListener('click', (event) => {
                history.replaceState({}, '', elem.getAttribute('id'));
                selectTargetedTab();
            })
        });

        selectTargetedTab()
    })();
</script>