<!DOCTYPE html>
<html lang="en">
<head>
  <%= render "layouts/head" %>
</head>

<body class="bg-leaves bg-repeat">
<header class="border-slate-200">
  <div class="max-w-screen-xl flex flex-col mx-auto p-4 justify-center gap-3">
    <% if content_for?(:logo) %>
      <%= yield(:logo) %>
    <% else %>
      <div class="flex justify-center items-center gap-5">
        <div class="w-28 h-28 shrink-0 flex flex-col items-center justify-center rounded-full overflow-hidden bg-primary shadow-border-primary">
          <img src="/logo.png" class="w-full h-full" role="presentation" alt=""/>
        </div>
        <div class="flex flex-col">
          <span class="font-serif text-xl font-bold">Wil Hall</span>
          <a href="https://pronoun.is/they/.../themselves" class="text-primary hover:underline">they/them</a>
          <span class="text-slate-700">Ceramicist ⁂ Photographer ⁂ Full Stack Web Developer</span>
        </div>
      </div>
    <% end %>
    <img src="/divider_top.png" class="h-5 mx-auto" role="presentation" alt=""/>
    <nav>
      <ul class="flex gap-5 justify-center flex-wrap">
        <li>
          <a href="<%= about_path %>" class="font-dreamboat font-bold text-lg text-secondary hover:underline <%= controller_path == 'abouts' ? 'underline decoration-wavy decoration-3 underline-offset-4 decoration-tertiary' : '' %>">
            About
          </a>
        </li>
        <li>
          <a href="<%= writings_path %>" class="font-dreamboat font-bold text-lg text-secondary hover:underline <%= controller_path == 'writings' ? 'underline decoration-wavy decoration-3 underline-offset-4 decoration-tertiary' : '' %>">
            Writing
          </a>
        </li>
        <li>
          <a href="<%= photography_path %>" class="font-dreamboat font-bold text-lg text-secondary hover:underline <%= controller_path == 'photographies' ? 'underline decoration-wavy decoration-3 underline-offset-4 decoration-tertiary' : '' %>">
            Photography
          </a>
        </li>
        <li>
          <a href="<%= presses_path %>" class="font-dreamboat font-bold text-lg text-secondary hover:underline <%= controller_path == 'presses' ? 'underline decoration-wavy decoration-3 underline-offset-4 decoration-tertiary' : '' %>">
            Press
          </a>
        </li>
        <li>
          <a href="<%= store_path %>" class="font-dreamboat font-bold text-lg text-secondary hover:underline <%= controller_path == 'stores' ? 'underline decoration-wavy decoration-3 underline-offset-4 decoration-tertiary' : '' %>">
            Store
          </a>
        </li>
        <li>
          <a href="<%= contact_path %>" class="font-dreamboat font-bold text-lg text-secondary hover:underline <%= controller_path == 'contacts' ? 'underline decoration-wavy decoration-3 underline-offset-4 decoration-tertiary' : '' %>">
            Contact
          </a>
        </li>
        <li>
          <a href="<%= purpose_path %>" class="font-dreamboat font-bold text-lg text-secondary hover:underline <%= controller_path == 'purposes' ? 'underline decoration-wavy decoration-3 underline-offset-4 decoration-tertiary' : '' %>">
            Purpose
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<main class="container mx-auto max-w-screen-xl my-5 px-5">
  <% if notice %>
    <div class="mx-auto flex items-center w-full max-w-xs p-4 mb-4 text-slate-500 bg-white rounded-lg shadow" role="alert">
      <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
        </svg>
        <span class="sr-only">Check icon</span>
      </div>
      <div class="ms-3 text-sm font-normal"><%= notice %></div>
    </div>
  <% end %>

  <% if alert %>
    <div class="mx-auto flex items-center w-full max-w-xs p-4 text-slate-500 bg-white rounded-lg shadow" role="alert">
      <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-orange-500 bg-orange-100 rounded-lg">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z"/>
        </svg>
        <span class="sr-only">Warning icon</span>
      </div>
      <div class="ms-3 text-sm font-normal"><%= alert %></div>
    </div>
  <% end %>

  <%= yield %>
</main>
<footer class="flex flex-col justify-center">
  <img src="/divider_bottom.png" class="h-5 my-5 mx-auto" role="presentation" alt=""/>
  <div class="w-min mx-auto">
    <iframe src="https://embeds.beehiiv.com/eab29e6f-f01c-4a79-86c5-4d5ab6f06f69?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>
  </div>
  <small class=" py-5 text-center">© 2024, Wil Hall</small>
</footer>
</body>
</html>
